/* ------------------ Tiles --------------------*/
.tile {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0 0 25px 0;
    overflow: hidden;
    -webkit-transition: background;
    transition: background;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none !important;
    outline: transparent solid 3px;
    position: relative;
    border-radius: 4px;
}
.tile:before,
.tile:after {
    content: " ";
    display: table;
}
.tile:after {
    clear: both;
}
.tile.white {
    background-color: #ffffff;
    color: #768399;
}
.tile.white:hover {
    background-color: #fcfcfc;
}
.tile.blue {
    background-color: #75b9e6;
    color: #ffffff;
}
.tile.blue:hover {
    background-color: #4aa3de;
}
.tile.red {
    background-color: #f68484;
    color: #ffffff;
}
.tile.red:hover {
    background-color: #f35454;
}
.tile.green {
    background-color: #71d398;
    color: #ffffff;
}
.tile.green:hover {
    background-color: #4ac77c;
}
.tile.yellow {
    background-color: #ffcc66;
    color: #ffffff;
}
.tile.yellow:hover {
    background-color: #ffbb33;
}
.tile.orange {
    background-color: #f4b162;
    color: #ffffff;
}
.tile.orange:hover {
    background-color: #f19932;
}
.tile.purple {
    background-color: #af91e1;
    color: #ffffff;
}
.tile.purple:hover {
    background-color: #9269d6;
}
.tile.pink {
    background-color: #f78db8;
    color: #ffffff;
}
.tile.pink:hover {
    background-color: #f45d9a;
}
.tile.lime {
    background-color: #a8db43;
    color: #ffffff;
}
.tile.lime:hover {
    background-color: #90c526;
}
.tile.magenta {
    background-color: #e65097;
    color: #ffffff;
}
.tile.magenta:hover {
    background-color: #e0237c;
}
.tile.teal {
    background-color: #97d3c5;
    color: #ffffff;
}
.tile.teal:hover {
    background-color: #73c4b1;
}
.tile.brown {
    background-color: #d1b993;
    color: #ffffff;
}
.tile.brown:hover {
    background-color: #c2a26f;
}
.tile.gray-spr {
    background-color: #f3f5f6;
}
.tile.gray-spr:hover {
    background-color: #d6dde0;
}
.tile.dark {
    color: #ffffff;
    background-color: #79859b;
}
.tile.dark:hover {
    background-color: #606c81;
}
.tile .tile-content {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 15px;
}
.tile .tile-content.text-center .number,
.tile .tile-content.text-center h3 {
    margin-left: 0;
}
.tile .tile-content .label {
    color: #768399;
    font-size: 100%;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.tile .tile-content .spark-number {
    width: 100%;
    float: left;
    font-size: 24px;
    margin-bottom: 10px;
}
.tile .tile-content .spark .percent {
    float: left;
    font-size: 16px;
    width: 60%;
}
.tile .tile-content .spark .sparkline {
    /* float: right; */
    width: 40%;
    display: inline-block;
}
.tile .tile-content .number {
    font-size: 48px;
    line-height: 48px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin-left: 7px;
}
.tile .tile-content h1,
.tile .tile-content h2,
.tile .tile-content h3,
.tile .tile-content h4,
.tile .tile-content h5,
.tile .tile-content h6 {
    font-size: 14px;
    font-weight: normal;
}
.tile .tile-content h1,
.tile .tile-content h2,
.tile .tile-content h3,
.tile .tile-content h4,
.tile .tile-content h5,
.tile .tile-content h6,
.tile .tile-content p {
    padding: 0;
    margin: 10px 0 0px 10px;
    line-height: 18px;
}
.tile .tile-icon {
    float: right;
    right: 15px;
    position: absolute;
    top: 50%;
    margin-top: -32px;
}
.tile .tile-icon i {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/* ------------------ Tile stats --------------------*/
.tile-stats {
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.tile-stats .tile-stats-icon {
    float: left;
    width: 33.333%;
    padding: 18px 0;
    text-align: center;
}
.tile-stats .tile-stats-icon i {
    font-size: 48px;
    color: #a2abba;
}
.tile-stats .tile-stats-content {
    padding: 18px 0;
    width: 66.666%;
    float: left;
}
.tile-stats .tile-stats-content .tile-stats-number {
    font-weight: bold;
    font-size: 24px;
    color: #768399;
}
.tile-stats .tile-stats-content .tile-stats-text {
    color: #a2abba;
    font-size: 13px;
}
.tile-stats:hover {
    border-color: #c4c4b8;
}
.tile-stats.blue-bg {
    border-color: #75b9e6;
}
.tile-stats.blue-bg:hover {
    background: #4aa3de;
}
.tile-stats.gray-bg {
    border-color: #f3f5f6;
}
.tile-stats.gray-bg:hover {
    background: #e4e9eb;
}
.tile-stats.red-bg {
    border-color: #f68484;
}
.tile-stats.red-bg:hover {
    background: #f35454;
}
.tile-stats.orange-bg {
    border-color: #f4b162;
}
.tile-stats.orange-bg:hover {
    background: #f19932;
}
.tile-stats.yellow-bg {
    border-color: #ffcc66;
}
.tile-stats.yellow-bg:hover {
    background: #ffbb33;
}
.tile-stats.green-bg {
    border-color: #71d398;
}
.tile-stats.green-bg:hover {
    background: #4ac77c;
}
.tile-stats.pink-bg {
    border-color: #f78db8;
}
.tile-stats.pink-bg:hover {
    background: #f45d9a;
}
.tile-stats.magenta-bg {
    border-color: #e65097;
}
.tile-stats.magenta-bg:hover {
    background: #e0237c;
}
.tile-stats.purple-bg {
    border-color: #af91e1;
}
.tile-stats.purple-bg:hover {
    background: #9269d6;
}
.tile-stats.dark-bg {
    border-color: #79859b;
}
.tile-stats.dark-bg:hover {
    background: #606c81;
}
.tile-stats.teal-bg {
    border-color: #97d3c5;
}
.tile-stats.teal-bg:hover {
    background: #73c4b1;
}
.tile-stats.brown-bg {
    border-color: #d1b993;
}
.tile-stats.brown-bg:hover {
    background: #c2a26f;
}