<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>manage</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstarp/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstarp/bootstrap.min.css}"/>
    <script type="text/javascript" src="/static/js/jquery/jquery-3.3.1.js" th:src="@{/js/jquery/jquery-3.3.1.js}"></script>
    <script src="/static/js/bootstarp/bootstrap3-typeahead.min.js" th:src="@{/js/bootstarp/bootstrap3-typeahead.min.js}"></script>
    <script src="https://cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
    <script src="/static/js/applications/notice.plugins.js" th:src="@{/js/applications/notice.plugins.js}"></script>
    <script src="/static/js/applications/bootstrap.notice.plugins.js" th:src="@{/js/applications/bootstrap.notice.plugins.js}"></script>
</head>
<body>
    <div class="info-alert">
    </div>

   <div>
       <input type="text" data-provide="typeahead" autocomplete="off" id="classes-level-1"/>
    </div>
    <div>
        <label>节点名称：</label>
        <input type="text" id="node" value=""/><br/>
        <label>父节点id：</label>
        <input type="text" id="parent_node" value=""/><br/>
        <label>url：</label>
        <input type="text" id="url" value=""/><br/>
        <label>memo：</label>
        <input type="text" id="memo" value=""/><br/>
        <input type="button" value="增加" onclick="insertNode()"/>
    </div>
</body>
<script type="text/javascript">
    var objMap = {};
    $(function(){

        $('.alert-warning').hide();


        $.post("/class/queryClass",function (data) {
            alert('1');
            console.log(data);
        },"json");
    });

    function insertNode(){
        $.ajax({
            url:"/class/insertClass",
            type:'post',
            data:{
                name:$('#node').val(),
                parentId:$('#parent_node').val(),
                url:$('#url').val(),
                memo:$('#memo').val()
            },
            dataType:'json',
            success:function(data){
                console.log(data);
                if(data.code == '00'){
                    $('.info-alert').notice_alert({msg:'新增成功',notice_class:'alert-info',closed_event:function(){
                        location.reload();
                    }});
                }else{
                    $('.info-alert').notice_alert({msg:data.message});
                }
            }
        })
    }
</script>
</html>