<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>manage</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstarp/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstarp/bootstrap.min.css}"/>
    <script type="text/javascript" src="/static/js/jquery/jquery-3.3.1.js" th:src="@{/js/jquery/jquery-3.3.1.js}"></script>
    <script src="/static/js/bootstarp/bootstrap.min.js" th:src="@{/js/bootstarp/bootstrap.min.js}"></script>
    <script src="/static/js/bootstarp/bootstrap3-typeahead.min.js" th:src="@{/js/bootstarp/bootstrap3-typeahead.min.js}"></script>
</head>
<body>
   <div>
       <input type="text" data-provide="typeahead" autocomplete="off" id="classes"/>
    </div>
    <div>
        <label>节点名称：</label>
        <input type="text" id="node" value=""/><br/>
        <label>父节点id：</label>
        <input type="text" id="parent_node" value=""/><br/>
        <label>url：</label>
        <input type="text" id="url" value=""/><br/>
        <label>memo：</label>
        <input type="text" id="memo" value=""/><br/>
        <input type="button" value="增加" onclick="insertNode()"/>
    </div>
</body>
<script type="text/javascript">
    $(function(){
        $.post("/class/queryClass",{parentid:""},function (data) {

            var dataSource = ['1军工', '1高校', '煤化工', '新能源', '节能环保', 'AB股', 'AH股', 'HS300'];
            console.log(dataSource);
            //绑定数据
            $('#classes').typeahead({
                source: dataSource,
            })
        },"json");


        // var dataSource = ['军工', '高校', '煤化工', '新能源', '节能环保', 'AB股', 'AH股', 'HS300'];
        // $('#classes').typeahead({
        //     source: dataSource,
        // })
    });

    function insertNode(){
        $.ajax({
            url:"/class/insertClass",
            type:'post',
            data:{
                name:$('#node').val(),
                parentId:$('#parent_node').val(),
                url:$('#url').val(),
                memo:$('#memo').val()
            },
            dataType:'json',
            success:function(data){

            }
        })
    }
</script>
</html>