<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>main</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstarp/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstarp/bootstrap.min.css}"/>
    <script type="text/javascript" src="/static/js/jquery/jquery-3.3.1.js" th:src="@{/js/jquery/jquery-3.3.1.js}"></script>
    <script type="text/javascript" src="/static/js/bootstarp/bootstrap.min.js" th:src="@{/js/bootstarp/bootstrap.min.js}"></script>

    <!--矢量图库-->
    <link href="/static/css/icon/icons.css" rel="stylesheet" th:href="@{/css/icon/icons.css}"/>
    <link href="/static/css/icon/iconfont.css" rel="stylesheet" th:href="@{/css/icon/iconfont.css}"/>

    <!--自定义css-->
    <link href="/static/css/app/main.css" rel="stylesheet" th:href="@{/css/app/main.css}"/>

    <script type="text/javascript" src="/static/js/commons/jRespond.min.js" th:src="@{/js/commons/jRespond.min.js}"></script>
    <script type="text/javascript" src="/static/js/commons/autosize/jquery.autosize.js" th:src="@{/js/commons/autosize/jquery.autosize.js}"></script>
    <script type="text/javascript" src="/static/js/commons/quicksearch/jquery.quicksearch.js" th:src="@{/js/commons/quicksearch/jquery.quicksearch.js}"></script>
    <script type="text/javascript" src="/static/js/commons/countTo/jquery.countTo.js" th:src="@{/js/commons/countTo/jquery.countTo.js}"></script>
    <script type="text/javascript" src="/static/js/commons/slimscroll/jquery.slimscroll.min.js" th:src="@{/js/commons/slimscroll/jquery.slimscroll.min.js}"></script>
    <script type="text/javascript" src="/static/js/commons/slimscroll/jquery.slimscroll.horizontal.min.js" th:src="@{/js/commons/slimscroll/jquery.slimscroll.horizontal.min.js}"></script>
    <script type="text/javascript" src="/static/js/commons/jquery.sprFlat.js" th:src="@{/js/commons/jquery.sprFlat.js}"></script>
    <script type="text/javascript" src="/static/js/app/main.js" th:src="@{/js/app/main.js}"></script>
</head>
<body>
<div class="header">

</div>
<div id="sidebar">
    <div class="sidebar-inner">
        <ul id="sideNav" class="nav nav-pills nav-stacked">
            <li class="top-search">
                <form>
                    <input type="text" name="search" placeholder="Search ..." />
                    <button type="submit"><i class="ec-search s20"></i>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>
</body>
</html>